<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather Station - {{server_name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta http-equiv="refresh" content="10"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/fav.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Merriweather+Sans:ital@1&family=Ubuntu+Condensed&family=Josefin+Sans:wght@400;700&family=Seymour+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>{{server_name}} - Weather Station</h1>
        <p id="info_text">Outdoor data via WeatherAPI</p>
        <p id="info_text">Indoor data via BME280 Sensor</p><br>
        <p id="section">Current Stats</p>
        <div class="main">
            <div id="temperature" class="stats">
                <img src="/static/weather-icon.png" alt="Weather Icon">
                <h2 id="temp">Temperature</h2>
                <p id="location" class="info">Outdoors: {{o_temp}}°C </p>
                <p id="location" class="info">Indoors: {{temp}}°C </p>
            </div>
            <div id="humidity" class="stats">
                <img src="/static/Humidity-icon.png" alt="Humidity Icon">
                <h2 id="hum">Humidity</h2>
                <p id="location" class="info">Outdoors: {{o_hu}}% </p>
                <p id="location" class="info">Indoors: {{hu}}% </p>
            </div>
            <div id="pressure" class="stats">
                <img src="/static/pressure-icon.png" alt="Pressure Icon">
                <h2 id="pre">Pressure</h2>
                <p id="location" class="info">Sea Level: {{o_pre}} hPa </p>
                <p id="location" class="info">Indoors: {{pre}} hPa </p>
            </div>
            <div id="altitude" class="stats">
                <img src="/static/wind-icon.png" alt="mountain Icon">
                <h2 id="alti">Wind Speed</h2>
                <p id="location" class="info">Direction: {{o_wind_dir}}</p>
                <p id="location" class="info">{{o_wind}} km/h</p>
            </div>
        </div>
        <p id="section">Historical Data</p>
        <div class="graphs">
            <div id="chart">
                <canvas id="tempChart" width="300" height="300"></canvas>
                <button onclick="timeFrame(this)" value="daily_data">Daily</button>
                <button onclick="timeFrame(this)" value="week_data">Weekly</button>
                <button onclick="timeFrame(this)" value="month_data">Monthly</button>
            </div>
            <div id="chart"><canvas id="humChart" width="300" height="300"></canvas></div>
            <div id="chart"><canvas id="presChart" width="300" height="300"></canvas></div>
            <div id="chart"><canvas id="windChart" width="300" height="300"></canvas></div>
        </div>
            <script>
                const today_data = {
                    labels: {{ dates | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ wapi_temps | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ bme_temps | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };

                const daily_data = {
                    labels: {{ daily | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ daily_wapi_temp_avgs | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ daily_bme_temp_avgs | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };

                const week_data = {
                    labels: {{ week | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ week_wapi_temp_avg | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ week_bme_temp_avg | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };

                const month_data = {
                    labels: {{ month | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ month_wapi_temp_avg | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ month_bme_temp_avg | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };

                const config = {
                    type: 'line',
                    data: today_data,
                    options:{
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true
                                }
                            }]
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "Temperature (℃)"
                        }
                    }
                };

                const myChart = new Chart(document.getElementById("tempChart").getContext("2d"), config);

                function timeFrame(period){
                    if(period.value == 'daily_data') {
                        myChart.config.data = daily_data;
                    }
                    if(period.value == 'week_data') {
                        myChart.config.data = week_data;
                    }
                    if(period.value == 'month_data') {
                        myChart.config.data = month_data;
                    }
                    myChart.config.options.scales.xAxes[0].ticks.display = false;
                    myChart.update();
                }


                // var ctx = document.getElementById("tempChart").getContext("2d");
                // var tempChart = new Chart(ctx, {
                //     type: "line",
                //     data: {
                //         labels: {{ dates | safe }},
                //         datasets: [
                //             {
                //                 label: "Outdoors",
                //                 backgroundColor:"rgba(247,237,40, 0.6)",
                //                 fillColor: "rgba(250,1,1,0.2)",
                //                 strokeColor: "rgba(250,1,1,0.2)",
                //                 pointColor: "rgba(250,1,1,0.2)",
                //                 pointStrokeColor: "#eb0707",
                //                 pointHighlightFill: "#eb0707",
                //                 pointHighlightStroke: "rgba(220,220,220,1)",
                //                 data: {{ wapi_temps | safe }}
                //             },
                //             {
                //                 label: "Indoors",
                //                 backgroundColor:"rgba(247, 150, 40, 1)",
                //                 fillColor: "rgba(151,187,205,0.2)",
                //                 strokeColor: "rgba(151,187,205,1)",
                //                 pointColor: "rgba(151,187,205,1)",
                //                 pointStrokeColor: "#fff",
                //                 pointHighlightFill: "#fff",
                //                 pointHighlightStroke: "rgba(151,187,205,1)",
                //                 data: {{ bme_temps | safe }}
                //             }
                //         ]
                //     },
                //     options: {
                //         responsive: false,
                //         title: {
                //             display: true,
                //             text: "Temperature (℃)"
                //         },
                //     }
                // });
                var ctx = document.getElementById("humChart").getContext("2d");
                var humChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ dates | safe }},
                        datasets: [
                            {
                                label: "Outdoors",
                                backgroundColor:"rgba(22, 150, 247, 1)",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ wapi_hums | safe }}
                            },
                            {
                                label: "Indoors",
                                backgroundColor:"rgba(74, 173, 247, 0.6)",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: {{ bme_hums | safe }}
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: "Humidity (%)"
                        },
                    }
                });
                var ctx = document.getElementById("presChart").getContext("2d");
                var presChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ dates | safe }},
                        datasets: [
                            {
                                label: "Sea Level",
                                backgroundColor:"rgba(131, 222, 27, 0.6)",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ wapi_pres | safe }}
                            },
                            {
                                label: "Indoors",
                                backgroundColor:"rgba(103, 191, 2, 1)",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: {{ bme_pres | safe }}
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: "Pressure (hPa)"
                        },
                    }
                });
                var ctx = document.getElementById("windChart").getContext("2d");
                var windChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ dates | safe }},
                        datasets: [
                            {
                                label: "Wind Speed",
                                backgroundColor:"rgba(102, 102, 102, 0.8)",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ wapi_winds | safe }}
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: "Wind (Km/h)"
                        },
                    }
                });
            </script>
    </body>
</html>