<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather Station - {{server_name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta http-equiv="refresh" content="10"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/fav.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Merriweather+Sans:ital@1&family=Ubuntu+Condensed&family=Josefin+Sans:wght@400;700&family=Seymour+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>{{server_name}} - Weather Station</h1>
        <p id="info_text">Outdoor data via WeatherAPI</p>
        <p id="info_text">Indoor data via BME280 Sensor</p><br>
        <p id="section">Current Stats</p>
        <div class="main">
            <div id="temperature" class="stats">
                <img src="/static/weather-icon.png" alt="Weather Icon">
                <h2 id="temp">Temperature</h2>
                <p id="location" class="info">Outdoors: {{o_temp}}°C </p>
                <p id="location" class="info">Indoors: {{temp}}°C </p>
            </div>
            <div id="humidity" class="stats">
                <img src="/static/Humidity-icon.png" alt="Humidity Icon">
                <h2 id="hum">Humidity</h2>
                <p id="location" class="info">Outdoors: {{o_hu}}% </p>
                <p id="location" class="info">Indoors: {{hu}}% </p>
            </div>
            <div id="pressure" class="stats">
                <img src="/static/pressure-icon.png" alt="Pressure Icon">
                <h2 id="pre">Pressure</h2>
                <p id="location" class="info">Sea Level: {{o_pre}} hPa </p>
                <p id="location" class="info">Indoors: {{pre}} hPa </p>
            </div>
            <div id="altitude" class="stats">
                <img src="/static/wind-icon.png" alt="mountain Icon">
                <h2 id="alti">Wind Speed</h2>
                <p id="location" class="info">Direction: {{o_wind_dir}}</p>
                <p id="location" class="info">{{o_wind}} km/h</p>
            </div>
        </div>
        <p id="section">Historical Data</p>
        <div id="histButtons">
            <button onclick="timeFrame(this)" value="today_data">Today</button>
            <button onclick="timeFrame(this)" value="daily_data">Daily</button>
            <button onclick="timeFrame(this)" value="week_data">Weekly</button>
            <button onclick="timeFrame(this)" value="month_data">Monthly</button>
        </div>
        <div class="graphs">
            <div id="chart"><canvas id="tempChart" width="300" height="300"></canvas></div>
            <div id="chart"><canvas id="humChart" width="300" height="300"></canvas></div>
            <div id="chart"><canvas id="presChart" width="300" height="300"></canvas></div>
            <div id="chart"><canvas id="windChart" width="300" height="300"></canvas></div>
        </div>
            <script>
                var dates = {{ dates | safe }};
                const today_temp_data = {
                    labels: dates,
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ wapi_temps | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ bme_temps | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };
                const daily_temp_data = {
                    labels: {{ daily | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ daily_wapi_temp_avgs | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ daily_bme_temp_avgs | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };
                const week_temp_data = {
                    labels: {{ week | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ week_wapi_temp_avg | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ week_bme_temp_avg | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };
                const month_temp_data = {
                    labels: {{ month | safe}},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ month_wapi_temp_avg | safe }},
                        backgroundColor: "rgba(247,237,40, 0.6)"
                        },
                        {
                        label: "Indoors",
                        data: {{ month_bme_temp_avg | safe }},
                        backgroundColor:"rgba(247, 150, 40, 1)"
                        }]
                };
                const config_temp = {
                    type: 'line',
                    data: today_temp_data,
                    options:{
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true
                                }
                            }]
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "Temperature (℃)"
                        }
                    }
                };
                const myTempChart = new Chart(document.getElementById("tempChart").getContext("2d"),config_temp);
                
                const today_hum_data = {
                    labels: dates,
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ wapi_hums | safe }},
                        backgroundColor: "rgba(22, 150, 247, 1)"
                        },
                        {
                        label: "Indoors",
                        data: {{ bme_hums | safe }},
                        backgroundColor:"rgba(74, 173, 247, 0.6)"
                        }]
                };
                const daily_hum_data = {
                    labels: {{ daily | safe }},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ daily_wapi_hum_avgs | safe }},
                        backgroundColor: "rgba(22, 150, 247, 1)"
                        },
                        {
                        label: "Indoors",
                        data: {{ daily_bme_hum_avgs | safe }},
                        backgroundColor:"rgba(74, 173, 247, 0.6)"
                        }]
                };
                const week_hum_data = {
                    labels: {{ week | safe }},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ week_wapi_hum_avg | safe }},
                        backgroundColor:"rgba(22, 150, 247, 1)"
                        },
                        {
                        label: "Indoors",
                        data: {{ week_bme_hum_avg | safe }},
                        backgroundColor:"rgba(74, 173, 247, 0.6)"
                        }]
                };
                const month_hum_data = {
                    labels: {{ month | safe }},
                    datasets: [
                        {
                        label: "Outdoors",
                        data: {{ month_wapi_hum_avg | safe }},
                        backgroundColor:"rgba(22, 150, 247, 1)"
                        },
                        {
                        label: "Indoors",
                        data: {{ month_bme_hum_avg | safe }},
                        backgroundColor:"rgba(74, 173, 247, 0.6)"
                        }]
                };
                const config_hum = {
                    type: 'line',
                    data: today_hum_data,
                    options:{
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true
                                }
                            }]
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "Humidity (%)"
                        }
                    }
                };
                const myHumChart = new Chart(document.getElementById("humChart").getContext("2d"),config_hum);

                const today_pres_data = {
                    labels: dates,
                    datasets: [
                        {
                            label: "Sea Level",
                            data: {{ wapi_pres | safe }},
                            backgroundColor:"rgba(131, 222, 27, 0.6)",
                        },
                        {
                            label: "Indoors",
                            data: {{ bme_pres | safe }},
                            backgroundColor:"rgba(103, 191, 2, 1)",
                        }
                    ]
                };
                const daily_pres_data = {
                    labels: {{ daily | safe }},
                    datasets: [
                        {
                            label: "Sea Level",
                            data: {{ daily_wapi_pres_avgs | safe }},
                            backgroundColor:"rgba(131, 222, 27, 0.6)",
                        },
                        {
                            label: "Indoors",
                            data: {{ daily_bme_pres_avgs | safe }},
                            backgroundColor:"rgba(103, 191, 2, 1)",
                        }
                    ]
                };
                const week_pres_data = {
                    labels: {{ week | safe }},
                    datasets: [
                        {
                            label: "Sea Level",
                            data: {{ week_wapi_pres_avg | safe }},
                            backgroundColor:"rgba(131, 222, 27, 0.6)",
                        },
                        {
                            label: "Indoors",
                            data: {{ week_bme_pres_avg | safe }},
                            backgroundColor:"rgba(103, 191, 2, 1)",
                        }
                    ]
                };
                const month_pres_data = {
                    labels: {{ month | safe }},
                    datasets: [
                        {
                            label: "Sea Level",
                            data: {{ month_wapi_pres_avg | safe }},
                            backgroundColor:"rgba(131, 222, 27, 0.6)",
                        },
                        {
                            label: "Indoors",
                            data: {{ month_bme_pres_avg | safe }},
                            backgroundColor:"rgba(103, 191, 2, 1)",
                        }
                    ]
                };
                const config_pres = {
                    type: 'line',
                    data: today_pres_data,
                    options:{
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true
                                }
                            }]
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "Pressure (hPa)"
                        }
                    }
                };
                const myPresChart = new Chart(document.getElementById("presChart").getContext("2d"),config_pres);

                const today_wind_data = {
                    labels: dates,
                    datasets: [
                        {
                            label: "Wind Speed",
                            data: {{ wapi_winds | safe }},
                            backgroundColor:"rgba(102, 102, 102, 0.8)",
                        }
                    ]
                };
                const daily_wind_data = {
                    labels: {{ daily | safe }},
                    datasets: [
                        {
                            label: "Wind Speed",
                            data: {{ daily_wind_maxs | safe }},
                            backgroundColor:"rgba(102, 102, 102, 0.8)",
                        }
                    ]
                };
                const week_wind_data = {
                    labels: {{ week | safe }},
                    datasets: [
                        {
                            label: "Wind Speed",
                            data: {{ week_wapi_wind | safe }},
                            backgroundColor:"rgba(102, 102, 102, 0.8)",
                        }
                    ]
                };
                const month_wind_data = {
                    labels: {{ month | safe }},
                    datasets: [
                        {
                            label: "Wind Speed",
                            data: {{ month_wapi_wind_max | safe }},
                            backgroundColor:"rgba(102, 102, 102, 0.8)",
                        }
                    ]
                };
                const config_wind = {
                    type: 'line',
                    data: today_wind_data,
                    options:{
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true
                                }
                            }]
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "Wind (Km/h)"
                        }
                    }
                };
                const myWindChart = new Chart(document.getElementById("windChart").getContext("2d"),config_wind);
                
                function timeFrame(period){
                    if(period.value == 'today_data') {
                        myTempChart.config.data = today_temp_data;
                        myHumChart.config.data = today_hum_data;
                        myPresChart.config.data = today_pres_data;
                        myWindChart.config.data = today_wind_data;
                        myTempChart.config.options.scales.xAxes[0].ticks.display = true;
                        myHumChart.config.options.scales.xAxes[0].ticks.display = true;
                        myPresChart.config.options.scales.xAxes[0].ticks.display = true;
                        myWindChart.config.options.scales.xAxes[0].ticks.display = true;
                    }
                    if(period.value == 'daily_data') {
                        myTempChart.config.data = daily_temp_data;
                        myHumChart.config.data = daily_hum_data;
                        myPresChart.config.data = daily_pres_data;
                        myWindChart.config.data = daily_wind_data;
                        myTempChart.config.options.scales.xAxes[0].ticks.display = false;
                        myHumChart.config.options.scales.xAxes[0].ticks.display = false;
                        myPresChart.config.options.scales.xAxes[0].ticks.display = false;
                        myWindChart.config.options.scales.xAxes[0].ticks.display = false;
                    }
                    if(period.value == 'week_data') {
                        myTempChart.config.data = week_temp_data;
                        myHumChart.config.data = week_hum_data;
                        myPresChart.config.data = week_pres_data;
                        myWindChart.config.data = week_wind_data;
                        myTempChart.config.options.scales.xAxes[0].ticks.display = false;
                        myHumChart.config.options.scales.xAxes[0].ticks.display = false;
                        myPresChart.config.options.scales.xAxes[0].ticks.display = false;
                        myWindChart.config.options.scales.xAxes[0].ticks.display = false;
                    }
                    if(period.value == 'month_data') {
                        myTempChart.config.data = month_temp_data;
                        myHumChart.config.data = month_hum_data;
                        myPresChart.config.data = month_pres_data;
                        myWindChart.config.data = month_wind_data;
                        myTempChart.config.options.scales.xAxes[0].ticks.display = false;
                        myHumChart.config.options.scales.xAxes[0].ticks.display = false;
                        myPresChart.config.options.scales.xAxes[0].ticks.display = false;
                        myWindChart.config.options.scales.xAxes[0].ticks.display = false;
                    }
                    [myTempChart, myHumChart, myPresChart, myWindChart].forEach(chart => {
                            chart.update();
                        });
                }

            </script>
    </body>
</html>